@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    background-color: rgb(173, 222, 248);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.spatie {
    margin-left: 5em;
}

.dubbele_spatie {
    margin-left: 10em;
}

.light_blue_color {
    color: #ACDEF5 !important;
}

.dark_blue_color {
    color: #1e88e5 !important;
}

.dark_blue_color_backround {
    background-color: #1e88e5 !important;
}

.outline_color_dark_blue {
    border-color: #1e88e5 !important;
}

.light_grey_color {
    color: #797979 !important;
}
.input-field{
     width: 500px;
 }

.dark_grey_color {
    color: #37474f !important;
}

.searchDiv{
    width: 500px;
}

.searchDiv:hover{
    background-color: black;
}
@media screen and (max-width: 992px) {
    #spatieSearchBar {
        margin-left: 5em;
    }
}

.content {
    flex: 1 0 auto;
    padding: 20px;
}

.sticky-footer {
    flex-shrink: 0;
    padding: 20px;
}

.text {
    text-transform: unset !important;
}

.card_tekst {
    padding: 5px 24px !important;
}

.card_line_remover {
    padding: 1px 24px !important;
    border-top: none !important;
}

.expandable_textbox {
    resize: vertical;
    height: auto;
}

#recaptcha {
    width: 304px;
    margin: 0 auto;
}

.container-login {
    margin: 0 auto;
    max-width: 1280px;
    width: 600px;
}

.logininput{
    text-align: center;
    background-color: lightblue !important;
    width: 230px !important;
}

::placeholder{
    color: black;
    font-size: 10pt;
}

.btnlogin{
    background-color: dodgerblue;
    width: 200px;
}

.btnlogin:hover{
    background-color: blue;
}

.container-register {
    margin: 0 auto;
    max-width: 1280px;
}

.rinputs{
    width: 230px !important;
    background-color: lightblue !important;
    text-align: center;

}

.registerinput{
    font-size: 10pt;
}

.btnregister{
    background-color: dodgerblue;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btnregister:hover{
    background-color: blue;
}

.e-mail{
    width: 600px !important;
    background-color: lightblue !important;
    text-align: center;
}

.alreadyaccount {
    font-size: 12pt;
    float: bottom;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #5a5a5a;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.box {
    text-align: center;
    direction: rtl;
}

.review {
    text-align: center;
}

i.colorstars{
    color: #f2b01e;
}

.reviewedit{
    display: flex;
    margin-left: 6%;
}

.personalreview{
    background-color: rgb(173, 222, 248);
    text-align: center;
}