body {
    background-color: rgb(173, 222, 248);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.spatie {
    margin-left: 5em;
}

.dubbele_spatie {
    margin-left: 10em;
}

.light_blue_color {
    color: #ACDEF5 !important;
}

.light_blue_color_backround {
    background-color: #ACDEF5 !important;
}

.dark_blue_color {
    color: #1e88e5 !important;
}

.dark_blue_color_backround {
    background-color: #1e88e5 !important;
}

.outline_color_dark_blue {
    border-color: #1e88e5 !important;
}

.light_grey_color {
    color: #797979 !important;
}
.input-field{
     width: 500px;
 }

.dark_grey_color {
    color: #37474f !important;
}

.searchDiv{
    width: 500px;
}

.searchDiv:hover{
    background-color: black;
}
@media screen and (max-width: 992px) {
    #spatieSearchBar {
        margin-left: 5em;
    }
}

.content {
    flex: 1 0 auto;
    padding: 20px;
}

.sticky-footer {
    flex-shrink: 0;
    padding: 20px;
}

.text {
    text-transform: unset !important;
}

.card_tekst {
    padding: 5px 24px !important;
}

.card_line_remover {
    padding: 1px 24px !important;
    border-top: none !important;
}

.expandable_textbox {
    resize: vertical;
    height: auto;
}

.container-login {
    margin: 0 auto;
    max-width: 1280px;
    width: 600px;
}

.logininput{
    text-align: center;
    background-color: lightblue !important;
    width: 230px !important;
}

::placeholder{
    color: black;
    font-size: 10pt;
}

.btnlogin{
    background-color: dodgerblue;
    width: 200px;
}

.btnlogin:hover{
     background-color: blue;
}

.container-register {
    margin: 0 auto;
    max-width: 1280px;
    width: 800px;
}

.createwwi{
    font-size: 16pt;
}

.rinputs{
    width: 350px !important;
    background-color: #ACDEF5 !important;
    text-align: center !important;
}

.registerinput{
    font-size: 10pt;
}

.btnregister{
    background-color: dodgerblue;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center !important;
}

.btnregister:hover{
    background-color: blue;
}

.alreadyaccount{
    font-size: 12pt;
    margin-left: 50px !important;
}

.required {
    color: red;
}

#recaptcha {
    width: 304px;
    margin: auto;
}

.g-recaptcha {
    display: inline-block;
}

.container-passwordforgot {
    margin: 0 auto;
    max-width: 1280px;
    width: 800px;
}

.resetpass{
    font-size: 30px;
}

.btnpassreset{
    background-color: dodgerblue;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center !important;
}

.btnpassreset:hover{
    background-color: blue;
}

.loginerror{
    font-size: 10pt;
    text-align: center;
    color: red;
}

.container-account {
    margin: 0 auto;
    max-width: 1280px;
    width: 800px;
}

.logoutbtn{
    background-color: dodgerblue;
    width: 200px;
    margin-top: 10px;
    text-align: center !important;
}

.logoutbtn:hover {
    background-color: blue;
}

.container-accountinfo {
    margin: 0 auto;
    max-width: 1280px;
    width: 640px;
}

.changeaccountbtn{
    background-color: dodgerblue;
    width: 300px;
    margin-top: 10px;
}

.changeaccountbtn:hover {
    background-color: blue;
}

.container-changeaccount {
    margin: 0 auto;
    max-width: 1280px;
    width: 700px;
}

.changeaccountinput{
    width: 350px !important;
    background-color: lightblue !important;
    text-align: center !important;
}

.btnupdateaccount{
    background-color: dodgerblue;
    width: 300px;
    margin-top: 20px;
}

.btnupdateaccount:hover {
    background-color: blue;
}

.btnreturnaccount{
    background-color: dodgerblue;
    width: 300px;
    margin-top: 20px;
}

.btnreturnaccount:hover {
    background-color: blue;
}

